@import url(https://fonts.googleapis.com/css2?family=Poppins);
body{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: black;
    background-color: hsl(290, 100%, 96%);
    text-decoration: none;
}
.navbar{
    background-color: rgb(232, 138, 24);
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 10px;
}
.navbar li{
    float: left;
    padding-right: 20px;
}
.navbar a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.navbar a:hover{
    background-color: black;
    transition: 0.5s;
}
.home-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: bisque;
}
.socials{
    left: 20px;
    position: absolute;
    float: left;
    width: fit-content;
    border-radius: 50px;
    
}
.social-icons{
    margin: 5px;
    color: black;
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 1.5rem;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
}
.social-icons:hover{
    background-color: black;
    color: white;
    transition: 0.2s;
}
.social-icons a {
    color: inherit; 
    text-decoration: none; 
}
.intro{
    display: grid;
    grid: 'left right';
    align-items: center;
    margin-right: 50px;
}
.profile-pic{
    grid-area: left;
    border: 5px solid white;
    margin: 20px 90px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.intro-text{
    grid-area: right;
}
#blogs{
    text-align: center;
}
