@import url(https://fonts.googleapis.com/css2?family=Poppins);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    
}
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    color: black;
    background-color: hsl(290, 100%, 96%);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(178,52,219,1) 35%, rgba(145,0,255,1) 100%);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: rgb(140, 95, 183);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.4rem;
    color: white;;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a:active{
    color: rgb(138, 30, 210);
}
.hero-section{
    margin-top: 6rem;
    display: flex;
    align-items: center;
}
.hero-txt{
    text-align: center;
}
.home-img img{
    border: 5px solid white;
    margin: 20px 90px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    ;
}


